body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

/* HEADER */
.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 22px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

/* HERO */
.hero {
    display: flex;
    padding: 125px 200px;
    background-color: #1f2937;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    flex: 1;
    gap: 12px;
}


.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

button {
   background-color: #3882f6;
   color: #f9faf8;
   border-radius: 6px;
   border: 1px solid #3882f6;
   padding: 6px 28px;
   font-size: 18px;

}

.hero-right {
    display: flex;
    flex: 1;
    background-color:grey;
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    color: #e5e7eb;
}

/* INFO */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 200px 136px 200px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 50px 0px;
}

.info-card-section {
    display: flex;
    justify-content: center;
} 

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin: 0px 25px;
    gap: 8px;
}

.info-card-image {
    width: 150px;
    height: 150px;
    border-radius: 16px;
    border: 4px solid #3882f6;
}

.info-card-subtext {
    color: grey;
    text-align: center;
}